@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  --light-green: #5bc8af;
  --green: #297c6b;
  --dark-green: #194d44;
  --text-dark: #333;
  --text-light: #eaeaea;
  --white: #ffffff;
  --max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 128px;
}
nav {
  display: flex;
  justify-content: space-between;
}
img {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 41px;
  gap: 22px;
}

.link {
  text-decoration: none;
  color: var(--white);
}

.nav-links li:first-child,
.nav-links li:last-child {
  font-weight: 700;
}
nav a span {
  color: var(--light-green);
}

.header-container {
  background: url("./assets/images/header.png") no-repeat;
  height: 650px;
  padding: 1rem 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-container::before,
.header-container::after {
  content: "";
  position: absolute;
  background-image: url("./assets/images/header-curve1.svg"),
    url("./assets/images/header-curve2.svg");
  background-repeat: no-repeat no-repeat;
  background-position: bottom;
  z-index: 2;
  bottom: -1px;
  left: 0;
  height: 140px;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.header-content h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  color: var(--white);
}

.header-content h1 span {
  -webkit-text-stroke: 1px var(--white);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.3);
}
.header-content p {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 601px;
}
.form-container {
  padding: 51px 28px 56px;
  border-radius: 12px;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.12);
  /* display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between; */
}
.form-container h3 {
  color: var(--white);
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}
.form-group:last-child {
  grid-column: span 2;
  margin: 16px 0 41px;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 100%;
  outline: none;
  padding: 14px 16px;
  color: var(--white);
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.04);
}

.form-group label {
  order: -1;
  padding-left: 16px;
  transition: all 0.3s ease-in;
  transform: translateY(33px);
  pointer-events: none;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: fit-content;
}

input:focus + label {
  transform: translate(10px, 7px);
  font-size: 13px;
  color: var(--white);
  background: var(--green);
  padding-left: 0;
}
input:focus {
  border: 1px solid white;
}

.form-group select {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 14px 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  -webkit-appearance: none;
  appearance: none;
  font-family: "Montserrat", sans-serif;
  background: url("./assets/images/Polygon.png") center no-repeat;
  background-position: right;
  background-position-x: 97%;
  cursor: pointer;
}

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 60px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  background: var(--light-green);
  width: 221px;
  margin: auto;
}
.btn-submit img {
  width: 24px;
}

.btn-submit:hover {
  cursor: pointer;
}
.btn-submit:active {
  background-color: #35bb9c;
}
