@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400;1,800&display=swap");

:root {
  --light-green: #5bc8af;
  --green: #297c6b;
  --dark-green: #194d44;
  --text-dark: #333;
  --text-light: #eaeaea;
  --white: #ffffff;
  --max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 38px 128px;
}
nav {
  display: flex;
  justify-content: space-between;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 41px;
  gap: 22px;
  position: relative;
  transition: 0.5s ease;
}

.link {
  text-decoration: none;
  color: var(--white);
}

.nav-links li .nav-active,
.nav-links li:last-child {
  font-weight: 700;
}
nav a span {
  color: var(--light-green);
}

.header-container {
  background: url("./assets/images/header.png") no-repeat;
  height: 650px;
  padding: 20.5px 128px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-container::before,
.header-container::after {
  content: "";
  position: absolute;
  background-image: url("./assets/images/header-curve1.svg"),
    url("./assets/images/header-curve2.svg");
  background-repeat: no-repeat no-repeat;
  background-position: bottom;
  z-index: 2;
  bottom: -5px;
  left: 0;
  height: 140px;
  width: 100%;
}
.header-container .nav-icon {
  margin-top: 6px;
  width: 20px;
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 66px;
}

.header-content h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  color: var(--white);
}

.header-content h1 span {
  -webkit-text-stroke: 1px var(--white);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.header-content p {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 601px;
}
.form-container {
  padding: 51px 28px 56px;
  border-radius: 12px;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}
.form-container h3 {
  color: var(--white);
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}
.input-group:last-child {
  grid-column: span 2;
  margin: 16px 0 41px;
}
.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group input {
  width: 100%;
  outline: none;
  padding: 14px 16px;
  color: var(--white);
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.04);
}

.input-group label {
  order: -1;
  padding-left: 16px;
  transition: all 0.3s ease-in;
  transform: translateY(33px);
  pointer-events: none;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: fit-content;
}

input:focus + label {
  transform: translate(10px, 7px);
  font-size: 13px;
  color: var(--white);
  background: var(--green);
  padding-left: 0;
}
input:focus {
  border: 1px solid white;
}

.input-group select {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 14px 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  -webkit-appearance: none;
  appearance: none;
  font-family: "Montserrat", sans-serif;
  background: url("./assets/images/Polygon.png") center no-repeat;
  background-position: right;
  background-position-x: 97%;
  cursor: pointer;
}
.input-group .tooltip-form {
  background: #ff7777;
  border-radius: 6px;
  margin: auto;
  max-width: 200px;
  position: absolute;
  top: calc(100% + 9px);
  left: 0px;
  right: 0px;
  padding: 10px 15px;
  z-index: 10;
  box-shadow: 2px 2px 5px rgb(17 17 17 / 15%);
  display: none;
}
.input-group .tooltip-form {
  /* display: block; */
}
.input-group .tooltip-form p {
  font-size: 13px;
  line-height: 16px;
  color: var(--white);
  position: relative;
  z-index: 4;
}
.input-group .tooltip-form::after {
  content: "";
  background: #ff7777;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -4px;
  left: 0px;
  right: 0px;
  margin: auto;
  transform: rotate(45deg);
}

.header-container .btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 221px;
  width: 100%;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  background: var(--light-green);
  margin: auto;
  transition: 0.3s ease;
  cursor: pointer;
}
.header-container .btn-submit img {
  width: 24px;
}
.header-container .btn-submit a {
  text-decoration: none;
  color: var(--white);
}

.header-container .btn-submit:hover {
  background-color: #35bb9c;
}

.understand-container {
  height: 700px;
  background-color: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 130px;
}
.understand-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
  margin-bottom: 64px;
}
.understand-images img {
  border-radius: 8px;
  width: 100%;
}
.understand-container h2,
.organize-container h2 {
  color: var(--text-dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 32px;
}

.understand-container h2 span,
.organize-container h2 span {
  -webkit-text-stroke: 1px var(--text-dark);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.understand-text,
.organize-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
}
.understand-text p,
.organize-text p {
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.btn-outline {
  margin-top: 10px;
  gap: 8px;
  border-radius: 4px;
  border: 2px solid var(--light-green);
  height: 52px;
  line-height: 28px;
  font-weight: 700;
  font-size: 18px;
  max-width: 371px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}
.btn-outline span {
  color: var(--light-green);
}
.btn-outline img {
  width: 17px;
}

.carousel-container {
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(-10%);
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
}

.slide img {
  width: 270px;
}

.carousal-content h6 {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.carousal-content p {
  color: var(--white);
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
}

.slides-container {
  margin: 0 auto;
  /* margin: 0 54px; */
  padding: 0 auto;
  height: 270px;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
}

.carousal-container img svg path:hover {
  cursor: pointer;
  fill: var(--light-green);
}

.slide-arrow {
  margin: auto;
  border: none;
  height: 100%;
  background-color: transparent;
  opacity: 1;
  transition: 0.3s ease;
}
.slide-arrow svg path:hover {
  cursor: pointer;
  fill: var(--light-green);
}

.slide {
  display: flex;
  flex: 1 0 100%;
  gap: 35px;
}

.slides-container .carousal-content {
  padding: 62px 65px 45px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  /* padding: 0 65px; */
  background-color: #194d44;
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.12));
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 100%;
  position: relative;
}
.slides-container .carousal-content::after {
  content: url("./assets/images/“.png");
  position: absolute;
  top: 12px;
  right: 65px;
}

.dots-container {
  text-align: center;
  margin-top: 64px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 12px;
  background-color: var(--text-light);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--light-green);
}

.organize-text p:first-child {
  font-style: italic;
  line-height: 28px;
  font-size: 18px;
}

.organize-text .strong {
  font-weight: 800;
}

.organize-container a {
  text-decoration: none;
}
.organize-container .btns-organize-container {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  column-gap: 36px;
  row-gap: 36px;
}
.organize-container .btns-organize-container .btn-o {
  font-size: 18px;
  line-height: 22px;
  border: 2px solid var(--light-green);
  border-radius: 4px;
  color: #333;
  height: 96px;
  font-weight: 700;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.organize-container .btns-organize-container .btn-o span {
  background-image: url("./assets/images/info.svg");
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 30px;
  margin-right: -38px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.organize-container .btns-organize-container .btn-o .tooltp {
  padding: 12px 16px;
  background-color: var(--green);
  border-radius: 8px;
  position: absolute;
  width: 80%;
  text-align: left;
  left: 0px;
  right: 0px;
  top: calc(100% + 32px);
  margin: auto;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.organize-container .btns-organize-container .btn-o .tooltp::after {
  content: "";
  background: var(--green);
  width: 22px;
  height: 22px;
  position: absolute;
  top: -4px;
  left: 0px;
  right: 0px;
  margin: auto;
  transform: rotate(45deg);
}
.organize-container .btns-organize-container .btn-o .tooltp p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--white);
  position: relative;
  z-index: 2;
}
.organize-container .btns-organize-container .btn-o:hover {
  color: var(--lightblue);
}
.organize-container .btns-organize-container .btn-o:hover span {
  opacity: 1;
}
.organize-container .btns-organize-container .btn-o:hover span + .tooltp {
  top: calc(100% + 9px);
  opacity: 1;
  visibility: visible;
}

.video-container {
  height: 650px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 22px;
  justify-content: center;
  align-items: center;
}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("./assets/images/video-curve-gradient.png"),
    url("./assets/images/video-curve.png"),
    url("./assets/images/video-image-gradient.png"),
    url("./assets/images/video-image.png");
  background-position: left, left, right, right;
  background-repeat: no-repeat, no-repeat, no-repeat no-repeat;
  z-index: -3;
}

.video-container::after {
  content: url("./assets/images/logo.png");
  position: absolute;
  right: 36px;
  bottom: 36px;
}

.right-container img {
  width: 208px;
}
.video-container .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-container .right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container .right-container a {
  background: url("./assets/images/video-play-btn-passive.png") no-repeat;
  width: 208px;
  height: 208px;
  z-index: 100;
}
.video-container .right-container a:hover {
  background: url("./assets/images/video-play-btn-active.png") no-repeat;
  width: 228px;
  height: 228px;
  transition: 0.8s ease;
  z-index: 100;
}
.video-container h2 {
  color: var(--white);
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 48px;
}
.video-container h2 span {
  -webkit-text-stroke: 1px var(--white);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.video-container li {
  list-style: none;
}
.video-container .list-items .item h6::before {
  content: url("./assets/images/Checkmark.svg");
  margin-right: 24.4px;
}
.video-container h6 {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}

.video-container p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 45px;
  margin-bottom: 22px;
  display: flex;
}

.video-container .right-container img:hover {
  display: none;
}

footer {
  height: 100px;
  background-color: var(--text-light);
  padding: 38px auto;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #757575;
}

footer ul {
  list-style: none;
  display: flex;
  text-align: center;
  gap: 7px;
}

@media (max-width: 1440px) {
  .section-container.header-container,
  .section-container.understand-container,
  .section-container.testimonial-container,
  .section-container.organize-container,
  .section-container.video-container {
    overflow: hidden;
  }
}
@media (max-width: 1200px) {
  .header-content {
    margin: 20px auto;
  }
  .section-container {
    padding: 24px;
  }
  .testimonial-container {
    transform: translateY(-10%);
  }
}

@media (max-width: 999px) {
  .header-container .nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    justify-content: flex-end;
  }

  .header-container .nav-links li:last-child {
    width: 100%;
    margin: -29px 0px;
    text-align: right;
  }
  .header-container .nav-links li:nth-child(4) {
    display: none;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 95px;
  }

  .header-container {
    height: 1090px;
    background-size: cover;
  }

  .carousal-content h6 {
    font-size: 18px;
    line-height: 28px;
  }

  .carousal-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .slide {
    overflow: hidden;
    display: flex;
    width: 100%;
    transform: scale(0.95);
  }

  .video-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
    height: 1062px;
  }
  .video-container::before {
    content: "";
    background: url("./assets/images/gradient-responsive.png") top no-repeat,
      url("./assets/images/gradient-curve-responsive.png") top no-repeat,
      url("./assets/images/video-image-gradient.png") bottom no-repeat,
      url("./assets/images/video-image.png") bottom no-repeat;
    background-size: 100% 600px, 100% 630px, 100% 600px, 100% 600px;
  }
  .video-container .left-container {
    padding: 0;
  }
  .video-container::after {
    content: url("./assets/images/logo.png");
    position: absolute;
    right: 40%;
    bottom: 36px;
  }
  .video-container .right-container a {
    margin-bottom: 313px;
  }
  .video-container h2 {
    text-align: center;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .header-container .nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    justify-content: flex-end;
  }

  .header-container .nav-links li:last-child {
    width: 100%;
    margin: -29px px;
    text-align: right;
  }
  .header-container .nav-links li:nth-child(4) {
    display: none;
  }
  .carousel-container .slide-arrow {
    display: none;
  }

  .understand-container {
    height: 768px;
  }
  .understand-container .understand-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .understand-container .understand-text div {
    position: relative;
  }
  .understand-container .understand-text .btn-outline {
    position: absolute;
    top: 0px;
    left: 107%;
  }

  .organize-container .organize-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 24px;
  }
  .organize-container .organize-text p:first-child {
    grid-area: 1 /1 / 2 / 3;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    justify-self: center;
  }
  .organize-container .btns-organize-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .video-container::after {
    content: url("./assets/images/logo.png");
    position: absolute;
    right: 35%;
    bottom: 24px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-container .right-container a {
    margin-bottom: 313px;
  }
}
@media (max-width: 688px) {
  .slide {
    width: 100%;
    gap: 12px;
  }
  .slides-container {
    height: 198px;
  }

  .slides-container .carousal-content {
    padding: 12px;
    gap: 2px;
  }
  .carousel-container {
    margin-top: 0;
    transform: translateY(-15%);
  }
}
@media (max-width: 550px) {
  .header-container {
    height: 1062px;
  }
  .header-container .nav-links {
    display: none;
  }
  .header-container .nav-icon {
    display: block;
    cursor: pointer;
    transition: 1s ease;
  }

  .nav-small {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--dark-green);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    position: absolute;
    right: 24px;
    top: 45px;
    cursor: pointer;
    transition: 1s ease;
  }

  .nav-small li:last-child,
  .nav-small li:nth-child(4) {
    display: none;
  }
  .header-content {
    margin: 16px;
  }
  .header-container .content-left h1 {
    font-size: 36px;
  }
  .header-container .content-left p {
    font-size: 14px;
  }
  .form-container {
    width: 328px;
  }
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  .understand-container .understand-images {
    display: none;
  }
  .understand-container {
    margin-bottom: 0;
  }
  .understand-container .understand-text {
    display: flex;
    flex-direction: column;
  }
  .understand-container .understand-text div {
    position: relative;
  }
  .understand-container .understand-text .btn-outline {
    position: absolute;
    top: 110%;
    left: 10%;
    margin-bottom: 0;
  }

  .slides-container {
    height: 100%;
  }
  .slide {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    margin-top: 70px;
  }
  .slide img {
    position: absolute;
    top: -15%;
    left: 5%;
    width: 180px;
    z-index: 1;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .slide .carousal-content {
    height: 404px;
    display: flex;
    padding: 32px;
    justify-content: center;
    border-radius: 12px;
    gap: 14px;
  }
  .slider-wrapper {
    overflow: visible;
  }

  .organize-container .organize-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .organize-container .btns-organize-container {
    display: flex;
    flex-direction: column;
  }
  .video-container .left-container {
    padding: 80px auto;
  }
  .video-container h2 {
    text-align: center;
    margin-top: 40px;
  }
  .video-container h6 {
    font-size: 18px;
  }
  .video-container .left-container p {
    font-size: 14px;
  }

  .video-container::before {
    content: "";
    background: url("./assets/images/gradient-responsive.png") top no-repeat,
      url("./assets/images/gradient-curve-responsive.png") top no-repeat,
      url("./assets/images/video-image-gradient.png") bottom no-repeat,
      url("./assets/images/video-image.png") bottom no-repeat;
    background-size: 100% 700px, 100% 730px, 100% 600px, 100% 600px;
  }
}

@media (max-width: 360px) {
  .understand-container {
    height: 850px;
  }
  .understand-container .understand-text div {
    position: relative;
  }
  .understand-container .understand-text .btn-outline {
    position: absolute;
    top: 150px;
    left: 5px;
    z-index: 1;
  }
  .slides-container {
    margin-top: 100px;
    transform: translateY(10%);
  }
  .slide img {
    position: absolute;
    top: -20%;
    left: 5%;
    width: 180px;
    z-index: 1;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .organize-container h2 {
    font-size: 24px;
  }
  .video-container p {
    margin: 0;
  }

  .video-container::after {
    content: url("./assets/images/logo.png");
    position: absolute;
    right: 45px;
    bottom: 36px;
  }
}
